<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/bibingka">Bibingka</a></li>
			<li><a href="/puto">Puto</a></li>
		</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div><!-- /.container -->
	<footer>
		<div class="row">
			<div class="col-12 tdcenter">
				<div>Mindestbestellmenge CHF 50, bei Malyn abholen (CHF 0) oder Zürich HB (CHF 15), Twint oder Barzahlung bei Abholung</div>
				<div>Minimal order size CHF 50, pick up from Malyn's home (CHF 0) or Zurich HB (CHF 15), Twint or cash upon delivery</div>
			</div>
		</div>
		<div class="row">
			<div class="col-5 tdcenter"></div>
			<div class="col-2 tdcenter"><img src="/img/tel-malyn.png" alt="telephone numnber" style="width: 153px;height: 48px;"/></div>			
		</div>
		<div class="row">
			<div class="col-12">
				<div class="tdcenter">Barbezahlung oder Twint bei Abholung!</div>
				<div class="tdcenter">Cash or Twint upon delivery!</div>
			</div>
		</div>
	</footer>
</body>

</html>