<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/bibingka">Bibingka</a></li>
			<li><a href="/puto">Puto</a></li>
		</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div><!-- /.container -->
	<footer>
		<div class="row">
			<div class="col-12 tdcenter">
				<div>Mindestbestellmenge CHF 50 | Minimal order size CHF 50</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6 tdcenter">	
				<div>Bei Malyn abholen / pick up from Malyn's home (CHF 0)</div>
			</div>
			<div class="col-6 tdcenter">
				<div>Übergabe in / delivery (Ticket) to Zürich, Baden, Bremgarten (CHF 15)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6 tdcenter">
				<div>Barbezahlung oder Twint bei Abholung oder Übergabe!</div>
			</div>
			<div class="col-6 tdcenter">
				<div class="tdcenter">Cash or Twint upon delivery!</div>
			</div>
		</div>
		<div class="row">
			<div class="col-5 tdcenter"></div>
			<div class="col-2 tdcenter"><img src="/img/tel-malyn.png" alt="telephone numnber"
					style="width: 153px;height: 48px;" /></div>
		</div>
	</footer>
</body>

</html>